{% extends 'home.html' %}
{% block content %}
<div class="block">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        
        <form action="/upload_pp/" method="post" enctype="multipart/form-data">{% csrf_token %}
            
                <!-- <h4>Course name:</h4>
                <select name="course" id="course" class="form-control">
                    {% for i in course %}
                        <option value="{{i.id}}">{{i}}</option>
                    {% endfor %}
                </select>
            
                <br>
            
                <h4>Chapter name:</h4>
                <select name="chapt" id="chapt" class="form-control">
                    <option></option>
                </select>
              
                <br>
            
                <h4>Topic name:</h4>
                <input type="text" name="topic"  class="form-control">
            
                <br>
            
                <h4>Page content:</h4>
                <input id="id_docfile" type="file"  class="form-control" name="myfile" multiple/>
            
                <br> -->
            
                <h4>Profile Picture</h4>
                <input type="file" name="picture"  class="form-control" >
                
                <br>
                <input type="submit" value="submit"  class="btn btn-primary">
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
</div>


{% endblock %}
