{% extends 'home.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    <div>
            
            <h2>Create questions</h2>
            
        </div>
        <form action="/test_ques/{{test_id}}/" method="post" enctype="multipart/form-data">{% csrf_token %}
            
            <input type="hidden" id="test_id" name="test_id" value="{{test_id}}" >
                <h4>Question</h4>
                <textarea type="text" name="question" class="form-control" rows="10"></textarea>
                <br/>
                
                <h4>Answer-1</h4>
                <input type="text" name="answer1" class="form-control">
                <div class="form-row">
                <div class="form-group col-lg-6">
                <div class="checkbox checkbox-success">
                    <input id="checkbox1" type="checkbox" name="checkbox1" value="True">
                    <label for="checkbox1"> Correct</label>
                </div>
                </div>
                </div>
                <br/>
                <h4>Answer-2</h4>
                <input type="text" name="answer2" class="form-control">
                <div class="form-row">
                <div class="form-group col-lg-6">
                <div class="checkbox checkbox-success">
                    <input id="checkbox3" type="checkbox" name="checkbox2" value="True">
                    <label for="checkbox3"> Correct</label>
                </div>
                </div>
                </div>
                <br/>
                <h4>Answer-3</h4>
                <input type="text" name="answer3" class="form-control">
                <div class="form-row">
                <div class="form-group col-lg-6">
                <div class="checkbox checkbox-success">
                    <input id="checkbox5" type="checkbox" name="checkbox3" value="True">
                    <label for="checkbox5"> Correct</label>
                </div>
                </div>
                </div>
                <br/>
                <h4>Answer-4</h4>
                <input type="text" name="answer4" class="form-control">
                <div class="form-row">
                <div class="form-group col-lg-6">
                <div class="checkbox checkbox-success">
                    <input id="checkbox7" type="checkbox" name="checkbox4" value="True">
                    <label for="checkbox7"> Correct</label>
                </div>
                </div>
                </div>
                <br/>
                <input type="submit" value="submit" class="btn btn-primary" >
                <a href='/test_creation/' class="btn btn-secondary">Cretae new Test</a>
        </form>

    </div>
    
</div>
</div>
</div>

{% endblock %}