{% extends 'home.html' %}
{% block content %}
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<script type="text/javascript" src="/static/js/pin.js"></script>
<!-- <script src="/static/assets/node_modules/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/morris-data.js"></script> -->
    <input type="hidden" id="machineId" value="{{id}}" ng-machine="machineId">
<div ng-app = "myApp"  class="">
<div class="block" ng-controller="MainCtrl">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div>
            
            <h2>Create a Test</h2>
            
        </div>
        <form action="/test_creation/" method="post" enctype="multipart/form-data" ng-init="fetchData()">{% csrf_token %}
            
            <!-- <input type="hidden" id="courseid" value="{{courseid}}" ng-course="courseid"> -->
                <h4>Test Name:</h4>
                <input type="text" name="test" class="form-control">
                <br/>
                <h4>Course</h4>
                <select ng-model="course" id="courseid" name="courseid" class="form-control" ng-change="fetchData()">
                {% for course in courses %}
                    <option value='{{course.id}}'>{{course.name}}</option>
                {% endfor %}
                </select>
                {% verbatim %}
            	<h4>Chapter name:</h4>
                
                <select ng-model="chapterselected" id=chapterselected name="chapter" class="form-control" ng-change="topicData()" >
                    <option ng-repeat='chapter in chapterslist'   value={{chapter.id}}>{{chapter.name}}</option>
                </select>
            
                <br>
            
                <h4>Topic name:</h4>
                <select class="form-control" name="topic">
                    <option ng-repeat='topic in topics' value={{topic.id}}>{{topic.name}}</option>
                </select>
                {% endverbatim %}
                <br/>
                <input type="submit" value="submit" class="btn btn-primary" >
        </form>
    </div>
    
</div>
</div>
</div>

{% endblock %}