<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	

		<title>Sentinal cognetix</title>	

		<meta name="keywords" content="Sentinal cognetix" />
		<meta name="description" content="Sentinal cognetix">
		<meta name="author" content="Sentinal cognetix">

		<!-- Favicon -->
		<link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon" />
		<link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/vendor/font-awesome/css/fontawesome-all.min.css">
		<link rel="stylesheet" href="/static/vendor/animate/animate.min.css">
		<link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="/static/css/theme.css">
		<link rel="stylesheet" href="/static/css/theme-elements.css">
		<link rel="stylesheet" href="/static/css/theme-blog.css">
		<link rel="stylesheet" href="/static/css/theme-shop.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="/static/vendor/rs-plugin/css/settings.css">
		<link rel="stylesheet" href="/static/vendor/rs-plugin/css/layers.css">
		<link rel="stylesheet" href="/static/vendor/rs-plugin/css/navigation.css">
		<link rel="stylesheet" href="/static/vendor/circle-flip-slideshow/css/component.css">
		
		<!-- Demo CSS -->


		<!-- Skin CSS -->
		<link rel="stylesheet" href="/static/css/skins/default.css"> 

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="/static/css/custom.css">

		<!-- Head Libs -->
		<script src="/static/vendor/modernizr/modernizr.min.js"></script>

	</head>
	<body>
		<div class="body">
			<header id="header" class="header-narrow header-full-width" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 0, 'stickySetTop': '0'}" style="min-height: 74px;">
				<div class="header-body">
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column">
								<div class="header-row">
									<div class="header-logo">
										<a href="/">
											<!-- <img alt="Porto" width="160" height="67" src='/static/img/logo.png' > -->
											<img alt="Porto" width="160" height="67" src="/static/img/logo.png" class="img-fluid appear-animation animated bounceInDown appear-animation-visible" data-appear-animation="bounceInDown" data-appear-animation-delay="0" data-appear-animation-duration="1s" style="animation-duration: 1s; animation-delay: 0ms;">
										</a>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-end">
								<div class="header-row">
									<div class="header-nav">
										<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li class="">
														<a class="nav-link" href="/">
															Home
														</a>
													</li>
													<li class="dropdown dropdown-full-color dropdown-mega dropdown-tertiary">
														<a class="dropdown-item dropdown-toggle" href="#">
															Courses
														</a>
														<ul class="dropdown-menu">
															<li>
																<div class="dropdown-mega-content">
																	<div class="row">
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Javascript</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="/course/16/">JavaScript</a></li>
																				<li><a class="dropdown-item" href="/course/17/">AngularJS</a></li>
																				<li><a class="dropdown-item" href="/course/19/">JQuery</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">HTML and CSS</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="/course/4/">HTML5</a></li>
																				<li><a class="dropdown-item" href="/course/15/">Bootstrap</a></li>
																				<li><a class="dropdown-item" href="/course/18/">CSS3</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Machine Learning</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="/course/12/">Numpy</a></li>
																				<li><a class="dropdown-item" href="/course/13/">Scipy</a></li>
																				<li><a class="dropdown-item" href="/course/14/">Tensorflow</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Backend</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="/course/1/">Python</a></li>
																				<li><a class="dropdown-item" href="/course/2/">Django</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Databases</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="/course/9/">MySQL</a></li>
																				<li><a class="dropdown-item" href="/course/10/">PostgreSQL</a></li>
																			</ul>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>
													<li class="">
														<a class="nav-link" href="/cart">
															Cart
														</a>
													</li>
													<li class="">
														<a class="nav-link" href="/projects">
															Projects
														</a>
													</li>
													<li class="">
														<a class="nav-link" href="/message">
															Messages
														</a>
													</li>
													<li class="dropdown dropdown-full-color dropdown-secondary">
														<a class="dropdown-item dropdown-toggle" href="#">
															User
														</a>
														<ul class="dropdown-menu">
															{% if request.user.is_anonymous %}
															<li><a class="dropdown-item" href="/">Sign in</a></li>
															{% else %}
                                                            <li><a class="dropdown-item" href="/my_account/">My Account</a></li>
															<li><a class="dropdown-item" href="/logout/">Logout</a></li>
															{% endif %}
														</ul>
													</li>
												</ul>
											</nav>
										</div>
										<ul class="header-social-icons social-icons d-none d-sm-block">
											<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
											<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
											<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
										</ul>
										<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav">
											<i class="fas fa-bars"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div role="main" class="main">
				<div class="container" >
					{% block content %}
					{% endblock %}
				</div>
			</div>	
			<footer id="footer" class="light narrow">
<!-- 				<div class="container">
					<div class="row">
						<div class="footer-ribbon">
							<span>Get in Touch</span>
						</div>
						<div class="col-sm-2">
                            <h4>Javascript</h4>
                            <div>JavaScript</div>
                            <div>AngularJS</div>
                            <div>JQuery</div>
                        </div>
                        <div class="col-sm-2">
                            <h4>HTML&CSS</h4>
                            <div>HTML5</div>
                            <div>Bootstrap</div>
                            <div>CSS3</div>
                        </div>
                        <div class="col-sm-3">
                            <h4>Machine Learning</h4>
                            <div>Numpy</div>
                            <div>Scipy</div>
                            <div>Tensorflow</div>
                        </div>
                        <div class="col-sm-2">
                            <h4>Backend</h4>
                            <div> Python</div>
                            <div>Django</div>
                        </div>
                        <div class="col-sm-2">
                            <h4>Databases</h4>
                            <div>MySQL</div>
                            <div>PostgreSQL</div>
                        </div>
						<div class="col-lg-3">
							<div class="newsletter">
								<h4>Newsletter</h4>
								<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
			
								<div class="alert alert-success d-none" id="newsletterSuccess">
									<strong>Success!</strong> You've been added to our email list.
								</div>
			
								<div class="alert alert-danger d-none" id="newsletterError"></div>
			
								<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
									<div class="input-group">
										<input class="form-control form-control-sm" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
										<span class="input-group-append">
											<button class="btn btn-light" type="submit">Go!</button>
										</span>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="contact-details">
								<h4>Contact Us</h4>
								<ul class="contact">
									<li><p><i class="fas fa-map-marker-alt"></i> <strong>Address:</strong>Plot No: 13, Raod No:9, Jubliee Hills, Hyderabad.</p></li>
									<li><p><i class="fas fa-phone"></i> <strong>Phone:</strong> 7989892901</p></li>
									<li><p><i class="far fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@ibalearningmachines.com</a></p></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2">
							<h4>Follow Us</h4>
							<ul class="social-icons">
								<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
								<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
								<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
							</ul>
						</div>
					</div>
				</div> -->
				<!-- <div class="footer-copyright fixed-bottom">
					<div class="container">
						<div class="row">
							<div class="col-lg-1">
								<a href="index.html" class="logo">
									<img alt="logo" class="img-fluid" src="/static/img/logo.png">
								</a>
							</div>
							<div class="col-lg-4">
								<p>© Copyright 2018. All Rights Reserved.</p>
							</div>
							<div class="col-lg-3">
								<p>Powered By :IBA Learning Machines</p>
							</div>
							<div class="col-lg-4">
								<nav id="sub-menu">
									<ul>
										<li><a href="page-faq.html">FAQ's</a></li>
										<li><a href="sitemap.html">Sitemap</a></li>
										<li><a href="contact-us.html">Contact</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div> -->
			</footer>
		</div>

		<!-- Vendor -->
		<script src="/static/vendor/jquery/jquery.min.js"></script>
		<script src="/static/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="/static/vendor/jquery-cookie/jquery-cookie.min.js"></script>
		<script src="/static/vendor/popper/umd/popper.min.js"></script>
		<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/vendor/common/common.min.js"></script>
		<script src="/static/vendor/jquery.validation/jquery.validation.min.js"></script>
		<script src="/static/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
		<script src="/static/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="/static/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="/static/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="/static/vendor/vide/vide.min.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="/static/js/theme.js"></script>
		
		<!-- Current Page Vendor and Views -->
		<script src="/static/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="/static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/static/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
		<script src="/static/js/views/view.home.js"></script>
		
		<!-- Theme Custom -->
		<script src="/static/js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="/static/js/theme.init.js"></script>

		<!-- Examples -->
		<script src="/static/js/examples/examples.demos.js"></script>
		<script src="/static/js/main.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->

	</body>
</html>